.sidebar__doctor {
  &-img {
    width: 20.81rem;
    height: 20.81rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 13.62rem;
    margin-bottom: 1.87rem;
  }
  &-text {
    font-weight: normal;
    font-size: 1.25rem;
    line-height: 1.56rem;
    color: var(--brown_light);
    margin-bottom: 1.87rem;
  }
}
.sidebar__group-btn {
  display: flex;
  flex-direction: column;
  max-width: 18.75rem;
}
.sidebar__btn {
  display: inline-block;
  background: var(--color_btn);
  box-shadow: 0px 4px 1.25rem var(--color_btn);
  border-radius: 2.12rem;
  padding: 1.5rem 4.87rem;
  margin-bottom: 2.5rem;
  font-size: 1.25rem;
  line-height: 1.25rem;
  color: var(--light);
  border: none;
}
.sidebar__reviews-btn {
  font-size: 1.25rem;
  line-height: 1.25rem;
  text-align: center;
  color: var(--color_btn);
  border: none;
  background-color: transparent;
  margin-bottom: 2.5rem;
}
.doctor__wrapper {
  margin-right: 14.37rem;
}
.doctor__info {
  &-link {
    display: inline-block;
    font-size: 1.25rem;
    line-height: 1.25rem;
    align-items: center;
    color: var(--color_btn);
    margin-bottom: 3.75rem;
    img {
      margin-right: 0.31rem;
    }
  }
  &-name {
    font-family: SchoolBook;
    font-size: 1.87rem;
    line-height: 2.5rem;
    color: #000000;
    margin-bottom: 0.31rem;
  }
  &-experience {
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.25rem;
    margin-bottom: 1.25rem;
  }
  &-direction,
  &-text {
    font-weight: normal;
    font-size: 1.25rem;
    color: var(--brown);
    margin-bottom: 1.25rem;
    max-width: 56.81rem;
  }
}
.courses {
  &__title {
    font-weight: normal;
    font-size: 1.25rem;
    color: var(--brown);
    margin-bottom: 1.25rem;
  }
  &__slider {
    display: flex;
    position: relative;
    width: 56.81rem;
    height: auto;
    margin: 0;
  }
  &__item-wrapper {
    max-width: 52.5rem;
    width: 100%;
    margin-bottom: 6.25rem;
  }
  &__item {
    display: inline-block;
    background: var(--light);
    border: 1px solid var(--grey_light);
    border-radius: 1.25rem;
    padding: 1rem;
    width: auto !important;
  }
  &__year {
    font-weight: normal;
    font-size: 1rem;
    line-height: 1rem;
    color: var(--brown_light);
    margin-bottom: 0.31rem;
  }
  &__name {
    font-weight: normal;
    font-size: 1.25rem;
    line-height: 1.56rem;
    color: var(--color_title);
    width: 100%;
  }
  &__item-btn {
    position: absolute;
    top: calc(50% - 3.12rem);
    right: 1.25rem;
  }
}
.swiper-button-next::after {
  display: none;
}
