.header {
  // position: fixed;
  // top: 0;
  // background: rgba(255, 254, 254, 0.96);
  // box-shadow: 0px 4px 10px rgba(8, 6, 6, 0.1);
  // backdrop-filter: blur(8px);
  // width: 100%;
  padding: 4rem 5rem;
  &__inner {
    @extend .flex-jcsb-aic;
  }
  .menu__list {
    @extend .flex-jcsb;
    li {
      position: relative;
      margin: 0 2.5rem;
      a {
        transition: color 0.3s ease-in-out;
        &:hover {
          color: var(--brown);
        }
      }
    }
  }
  .menu__drop-down-list {
    display: none;
    position: absolute;
    left: -3.12rem;
    padding: 2.5rem 3.12rem;
    background: var(--light);
    box-shadow: 2px 2px 20px rgba(155, 82, 50, 0.1);
    border-radius: 1.25rem;
    font-weight: normal;
    font-size: 1.25rem;
    line-height: 1.87rem;
    color: var(--color_title);
    z-index: 555;
    transition: all 0.3s ease-in-out;
    li {
      margin: 1.87rem 0;
      width: 100%;
      width: 18.75rem;
      a {
        transition: all 0.3s ease-in-out;
        &:hover {
          font-weight: 600;
          color: var(--color_title);
          margin-left: 0.62rem;
        }
      }
    }
  }
  .menu__list {
    li:hover .menu__drop-down-list {
      display: block;
      transition: all 0.3s ease-in-out;
    }
  }
  .location {
    @extend .flex-jcsb-aic;
    cursor: pointer;
    &__icon {
      width: 2.87rem;
      height: 2.87rem;
      fill: var(--color_btn);
      transition: fill 0.3s ease-in-out;
      &:hover {
        fill: var(--brown);
      }
    }
    &__city {
      @extend .flex-column-jcc;
    }
    &__link {
      color: var(--color_btn);
      transition: color 0.3s ease-in-out;
      &:hover {
        color: var(--brown);
      }
    }
  }
}
