.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @extend.flex-center-center;
  background: rgba(8, 6, 6, 0.5);
  overflow: hidden;
}
.modal__wrapper {
  position: relative;
  @extend.flex-column-jcc-aic;
  background: var(--light);
  box-shadow: 2px 2px 1.25rem rgba(155, 82, 50, 0.1);
  border-radius: 1.25rem;
}
.modal__title {
  font-size: 1.87rem;
  line-height: 2.5rem;
  color: var(--color_title);
}
.modal__city {
  display: none;
  &-wrapper {
    width: 25rem;
    min-height: 15.62rem;
    padding: 3.12rem;
  }
  &-title {
    margin-bottom: 2.5rem;
  }
  &-link {
    font-weight: normal;
    font-size: 1.25rem;
    line-height: 1.25rem;
    color: var(--color_title);
    margin-bottom: 1.87rem;
    transition: color 0.3s ease-in-out;
    &:hover {
      color: var(--color_btn);
    }
  }
}
.modal__close {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  stroke: var(--brown_light);
  height: 1.25rem;
  width: 1.25rem;
  cursor: pointer;
  transition: stroke 0.3s ease-in-out;
  &:hover {
    stroke: var(--color_title);
  }
}

//modal__login//
.modal__login {
  display: none;
  &-wrapper {
    width: 25rem;
    min-height: 23rem;
    padding: 3.12rem 1.87rem;
  }
  &-title {
    max-width: 11.43rem;
    text-align: center;
    margin-bottom: 2rem;
  }
  &-input {
    background: var(--light);
    border: 1px solid var(--grey_light);
    border-radius: 1.25rem;
    padding: 1rem;
    width: 100%;
    margin-bottom: 2rem;
    color: var(--brown);
    outline: none;
    &::placeholder {
      font-weight: normal;
      font-size: 1.25rem;
      line-height: 1.56rem;
      color: var(--grey_light);
    }
  }
  &-btn {
    background: var(--grey_light);
    border-radius: 2.12rem;
    padding: 1.5rem 5.43rem;
    font-size: 1.25rem;
    line-height: 1.25rem;
    text-align: center;
    color: var(--light);
    width: 80%;
  }
}

//modal__password
.modal__password {
  display: none;
  &-wrapper {
    width: 25rem;
    min-height: 23rem;
    padding: 3.12rem 1.87rem;
  }
  &-title {
    max-width: 11.43rem;
    text-align: center;
    margin-bottom: 2rem;
  }
  &-input-box {
    input {
      width: 3.12rem;
      height: 3.56rem;
      background: var(--light);
      border: 1px solid #ede9e8;
      box-sizing: border-box;
      border-radius: 1.25rem;
      margin: 0 0.75rem 1rem 0.75rem;
      outline: none;
      padding-left: 1.18rem;
      color: var(--brown);
      &::placeholder {
        font-weight: normal;
        font-size: 1.25rem;
        line-height: 1.56rem;
        color: var(--brown_light);
      }
    }
  }
  &-time {
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.18rem;
    text-align: center;
    color: var(--brown_light);
    margin-bottom: 2rem;
  }
  &-btn {
    background: var(--grey_light);
    border-radius: 2.12rem;
    width: 80%;
    padding: 1.5rem 5.43rem;
    margin-bottom: 2rem;
    font-size: 1.25rem;
    line-height: 1.25rem;
    text-align: center;
    color: var(--light);
  }
  &-back {
    font-size: 1.25rem;
    line-height: 1.25rem;
    text-align: center;
    color: var(--color_btn);
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}

.is-open {
  display: flex;
}
