:root {
  --brown_light: #c3b9b5;
  --brown: #59443f;
  --color_btn: #ffc59e;
  --color_title: #080606;
  --light: #fff;
  --color_social: #ddd4f3;
  --history_bg: #fbf8f8;
  --grey_light: #ede9e8;
}
