@font-face {
    font-family: "Futura New";
    src: url("../font/FuturaNew/FuturaNewMedium-Reg.eot");
    src: local("../font/FuturaNew/Futura New Medium Reg"), local("../font/FuturaNew/FuturaNewMedium-Reg"),
        url("../font/FuturaNew/FuturaNewMedium-Reg.eot?#iefix") format("embedded-opentype"),
        url("../font/FuturaNew/FuturaNewMedium-Reg.woff2") format("woff2"),
        url("../font/FuturaNew/FuturaNewMedium-Reg.woff") format("woff"),
        url("../font/FuturaNew/FuturaNewMedium-Reg.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Futura New Book";
    src: url("../font/FuturaNew/FuturaNewBook-Reg.eot");
    src: local("../font/FuturaNew/Futura New Book Reg"), local("FuturaNewBook-Reg"),
        url("../font/FuturaNew/FuturaNewBook-Reg.eot?#iefix") format("embedded-opentype"),
        url("../font/FuturaNew/FuturaNewBook-Reg.woff2") format("woff2"),
        url("../font/FuturaNew/FuturaNewBook-Reg.woff") format("woff"),
        url("../font/FuturaNew/FuturaNewBook-Reg.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Futura New Book";
    src: url("../font/FuturaNew/FuturaNewBook-Reg.eot");
    src: local("../font/FuturaNew/Futura New Book Reg"), local("../font/FuturaNew/FuturaNewBook-Reg"),
        url("../font/FuturaNew/FuturaNewBook-Reg.eot?#iefix") format("embedded-opentype"),
        url("../font/FuturaNew/FuturaNewBook-Reg.woff2") format("woff2"),
        url("../font/FuturaNew/FuturaNewBook-Reg.woff") format("woff"),
        url("../font/FuturaNew/FuturaNewBook-Reg.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Futura New Demi";
    src: url("../font/FuturaNew/FuturaNewDemi-Reg.eot");
    src: local("../font/FuturaNew/Futura New Demi Reg"), local("../font/FuturaNew/FuturaNewDemi-Reg"),
        url("../font/FuturaNew/FuturaNewDemi-Reg.eot?#iefix") format("embedded-opentype"),
        url("../font/FuturaNew/FuturaNewDemi-Reg.woff2") format("woff2"),
        url("../font/FuturaNew/FuturaNewDemi-Reg.woff") format("woff"),
        url("../font/FuturaNew/FuturaNewDemi-Reg.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Futura New Demi";
    src: url("../font/FuturaNew/FuturaNewDemi-Reg.eot");
    src: local("../font/FuturaNew/Futura New Demi Reg"), local("../font/FuturaNew/FuturaNewDemi-Reg"),
        url("../font/FuturaNew/FuturaNewDemi-Reg.eot?#iefix") format("embedded-opentype"),
        url("../font/FuturaNew/FuturaNewDemi-Reg.woff2") format("woff2"),
        url("../font/FuturaNew/FuturaNewDemi-Reg.woff") format("woff"),
        url("../font/FuturaNew/FuturaNewDemi-Reg.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Futura New";
    src: url("../font/FuturaNew/FuturaNewBold-Reg.eot");
    src: url("../font/FuturaNew/FuturaNewBold-Reg.woff2") format("woff2"),
        url("../font/FuturaNew/FuturaNewBold-Reg.woff") format("woff"),
        url("../font/FuturaNew/FuturaNewBold-Reg.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Futura New";
    src: url("../font/FuturaNew/FuturaNewBold-Reg.eot");
    src: local("../font/FuturaNew/Futura New Bold Reg"), local("../font/FuturaNew/FuturaNewBold-Reg"),
        url("../font/FuturaNew/FuturaNewBold-Reg.eot?#iefix") format("embedded-opentype"),
        url("../font/FuturaNew/FuturaNewBold-Reg.woff2") format("woff2"),
        url("../font/FuturaNew/FuturaNewBold-Reg.woff") format("woff"),
        url("../font/FuturaNew/FuturaNewBold-Reg.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}
